{% extends "layout/base.html" %}
{% block js %}
    
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class='container' id='head-company'>
            <div class='row'> 
                <div class="col-md-4 col">
                    <img url='{{ company.logo_url }}' alt='logo_comp' />
                </div>
                <div class="col-md-8 col">
                    <h1>{{company.name}}</h1> 
                    <p>{{company.industri}} - {{company.city}}, {{company.country}}</p>
                    <button type='button' class='btn btn-info'>View Forum</button>
                    <button type='button' class="btn btn-info" disabled>Find Student</button>
                </div>
            </div>
        </div>
        <br>
        <div class="container" id='info-company'>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <div class="card-header">
                            <b>CONTACT</b>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Email: <br>{{company.email}}</li>
                            <li class="list-group-item">Website: <br><a href='{{company.website}}'>{{company.website}}</a></li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
                <div class="col-8 col-md-8">
                    <div
                </div>
            </div>
        </div>
        <div class="container" id='contact-company'>
            <div class="row">

            </div>
        </div>
    </div>
{% endblock %}