{% extends "apps_1/layout/base.html" %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Kurale' rel='stylesheet'>
<style>

	#intro-txt {
		text-align: center;
		font-family: 'Kurale';
	}
	img {
		border-radius: 25px;
	}
	.tombol{
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
	.button {
		background-color: #2b0052;
		border: none;
		color: white;
		padding: 10px 42px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
	.lists {
		color: black;
		text-align: center;
	}
	.button3 {
		background-color: white; 
		color: black; 
		border: 2px solid #f44336;
	}
	
	.button3:hover {
		background-color: #f44336;
		color: white;
	}
</style>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key: 815l4hlz46krq2
	onLoad: onLinkedInLoad
	authorize: true
</script>
<div class="container">
	<h1 class="hint" id="intro-txt"><strong>Welcome to Buka Pacil Company</strong></h1>	
</div>


<hr>

<section id="jobs">
	<div class="introlists">
		<img src="http://www.unitedwaycentral.com/wp-content/uploads/2016/05/Were-Hiring-gif.gif" alt="Job" style="width:100%;">
	</div>
	<br>
	<div class="lists">
		<button class="button button3">Web Developer</button>
		<button class="button button3">Product Designer</button>
	</div>
	<br>
	<div class="alert alert-warning" role="alert">
		<div class="container">
			<div class="row-fluid">
				<table style="width:0%">
					<td><img src="http://bestanimations.com/Humans/funny-animated-guy-gif-3.gif" alt="my-image" class="circular-image" width="50" height="50"/></td>
						<td><p class="h4 text-info">PPW Nih</p></td>
				</table>    
					<p class="h4 text-dark">Gajinya berapa tuh?</p>
			</div>
		</div>
	</div>
</section>

<hr>
<section>
	<div class="tombol">
		<button class="button button2" id="login">Student Login</button>		
		<span style="display:inline-block; width: 300px;"></span>
		<!-- sign in with linkedin button -->
		<script type="in/Login" id="login"></script>
	</div>

</section>

<div class="line-separator"></div>
<!-- display profile info -->
<div id="profileData" style="display: none;">
    <p><a href="javascript:void(0);" class="button" onclick="logout()">Logout</a></p>
    <div id="picture"></div>
    <div class="info">
        <p id="name"></p>
        <p id="intro"></p>
        <p id="email"></p>
        <p id="location"></p>
		<p id="link"></p>
		<p>Work(s) at </p>
		<p id="companyLists" onclick="displayProfileCompany();"></p>
    </div>
</div>


{% endblock %}
