{% extends "apps_forums/layout/base.html" %}
{% block content %}
<h1><strong><center>Forum Magang Buka Pacil</center><strong></h1>

<div class="" style="  padding-bottom: 50px;">
  <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/372818-200.png" alt="" class="pull-left">
  <br>
  <h2 style="color:red"><strong>Buka Pacil Membuka Peluang Magang Untuk:</strong></h2>
  {% for ii in requirement %}
   <li style="color:blue"><strong>{{ forloop.counter }}. {{ii}}</strong>
     {% endfor %}
</div>
<hr>
<br>

<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">My List</h2>
        <div class="forum-lowongan">
            {% if forum %} {% for data in forum %}
            <blockquote>
            <p>{{ data.lowongan }}</p>
            </blockquote>
            {% endfor %} {% else %}
            <div class="alert alert-danger text-center">
                Tidak ada data Forum.
            </div>
            {% endif %}


        </div>
    </div>
</section>
<form id="form" method="POST" action="{% url 'apps-3:add_forum' %}">
    <h2><strong><center>POST TO FORUM</center></strong></h2>
    {% csrf_token %} {{ forum_lowongan }}
    <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
    <br>
</form>
<div class="pagination">
    <span class="step-links">
        <ul class="pagination">
        {% if forum.has_previous %}
            <li><a href="?page=1">&laquo; first</a></li>
            <li><a href="?page={{ forum.previous_page_number }}">previous</a></li>
        {% endif %}
        <li><span class="current">Page {{ forum.number }} of {{ forum.paginator.num_pages }}</span></li>
        {% if forum.has_next %}
            <li><a href="?page={{ forum.next_page_number }}">next</a></li>
            <li><a href="?page={{ forum.next_page_number }}">last &raquo;</a></li>
        {% endif %}
        </ul>
    </span>
</div>



{% endblock %}
