{% extends "apps_4/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <div class="container">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<h1>Forum Lowongan Pekerjaan</h1>
		{% if companies %}
			{% for forum in companiess %}
				<a href ="{{forum.website}}">
					<img src = "{{forum.logo_url}}"></img>
					<div>{{forum.name}}</div>
					</a>
			{% endfor %}
		{% else %} kok QuerySet nya kosong ya ?
		{% endif %}
    </div>
{% endblock %}