<div class="container" style="background-image: url(https://www.definitivehc.com/wp-content/uploads/2014/12/footer-background-01-noise.png);">
    <h4>&copy; Buka Pacil</h4>
</div>
<link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
<style>
    h4{
        text-align: center;
        color: white;
        font-family: 'Kaushan Script';font-size: 30px;
    }
</style>
